<h1><%= @studio.name %></h1>
Location: <%= @studio.location %>

<h3>Movies:</h3>
<% @studio.movies.each do |movie| %>
  <%= movie.title %><br>
<% end %>

<h3>Actors:</h3>
<% @studio.unique_actors.each do |actor| %>
  <%= actor.name %><br>
<% end %>